[submodule "rl_projects"]
	path = rl_projects
	url = git@github.com:mokrota21/RL_projects.git
[submodule "nn_project"]
	path = nn_project
	url = git@github.com:mokrota21/Neural-Network-Project.git
[submodule "progress_bot"]
	path = progress_bot
	url = git@github.com:mokrota21/ProgressBot.git
[submodule "smart_insole"]
	path = smart_insole
	url = git@github.com:mokrota21/Smart_Insole.git
[submodule "Group4"]
	path = Group4
	url = https://github.com/VU-Applied-Programming-for-AI-2024/Group4.git
